<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894872297907-1i51kpo8cl470jsrv9k8dsj6d7jplsbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894872297907-1i51kpo8cl470jsrv9k8dsj6d7jplsbv</string>
	<key>API_KEY</key>
	<string>AIzaSyAzk6DWLb6dEX39ngAqXmSf-dCH8x20cJw</string>
	<key>GCM_SENDER_ID</key>
	<string>894872297907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fis.sdc.spro</string>
	<key>PROJECT_ID</key>
	<string>spro1-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>spro1-mobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894872297907:ios:56c74daaa8265f43ad2bc6</string>
</dict>
</plist>